@charset "UTF-8";

/* todas as demais midias */

/* typical device breakpoints 
pequenas telas ate 600px
    celular: de 600px ate 768 px
    tablet: 768px ate 992px
    desktop: 992px ate 1200px
    grandes telas: acima de 1200px
    tv:
*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg); 
        /* desnecessario */
        text-shadow: none;
        color: black;
    }

    main{
        width: 90%;
        border:2px solid black
    }

    main::after{
        content: 'Essa impressao foi feita atraves do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    img#phone {
        display: none
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }


    img#phone {
        display: none
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}